page-verify-code, .verify-code-page {

  .key-input-container {
    width: 80%;
    margin: 32px auto;
    padding: 0px 16px 10px;
  }

  .key-input {
    input {
      @extend .text-xl;
      @extend .strong;
      letter-spacing: 10px;
    }
    ::-webkit-input-placeholder{
      font-size: 1.5rem;
      letter-spacing: normal;
    }
    border-bottom: 2px solid color($colors, light);
  }
}
